<configuration status="OFF">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) - %msg%n</pattern>
<!--            <withJansi>true</withJansi>-->
        </encoder>
    </appender>
    <logger name="com.sun.marlin" level="off"/>
    <logger name="sun.misc.Unsafe" level="off"/>
    <logger name="org.openjfx" level="off"/>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>